<p><strong>Chair:</strong><br>
Dr. Molefi Kete Asante<br>
615A Gladfelter Hall<br>
<a href="tel:2152044322">(215) 204-4322</a><br>
<a href="mailto:masante@temple.edu">masante@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Chair:</strong><br>
Dr. Nilgun Anadolu-Okur<br>
826 Gladfelter Hall<br>
<a href="tel:2152048513">(215) 204-8513</a><br>
<a href="mailto:anadolu@temple.edu">anadolu@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Belinda Wilson<br>
821 Ritter Annex<br>
<a href="tel:2152040472">(215) 204-0472</a><br>
<a href="mailto:bwilson@temple.edu">bwilson@temple.edu</a></p>
